<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Name:</strong>
      <%= @driver_division.name %>
    </p>

    <%= link_to 'Edit', edit_driver_division_path(@driver_division) %> |
    <%= link_to 'Back', driver_divisions_path %>
  </div>
</div>
