<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Name:</strong>
      <%= @race_class.name %>
    </p>

    <%= link_to 'Edit', edit_race_class_path(@race_class) %> |
    <%= link_to 'Back', race_classes_path %>
  </div>
</div>
