<footer>
  <div class="container-fluid">
    <div class="row">
      <ul class="list-inline">
        <li><%= link_to 'Contact', '#' %></li>
        <li><%= link_to 'Help', '#' %></li>
        <li><%= link_to 'Terms & Conditions', '#' %></li>
        <li><%= link_to 'Privacy Policy', '#' %></li>
        <li>MARC &copy; 2014</li>
      </ul>
    </div>
  </div>
</footer>
